@import url(//fonts.googleapis.com/css?family=Lato:400,700,300,300italic);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,300italic);

body {
	margin:0;
	color: #444;
	font-family: 'Open Sans';
}

a, a:visited {
	color: inherit;
}
header {
	font-family:'Lato', sans-serif;
}
h1 {
	font-size: 60px;
	margin: 0;
	font-weight: 400;
	letter-spacing: 0.04em;
	display: inline-block;
	line-height: 75px;
}

h1 a {
	text-decoration:none;
}

h2 {
	font-size: 32px;
	line-height: 40px;
}

header {
	border-bottom: 1px solid #ddd;
}
footer {
	border-top: 1px solid #ddd;
}

#playlist .header {
	padding: 20px 0;
}

#playlist .header * {
	display: inline-block;
}

.export {
	float:right;
	margin-top: 10px;

	.header & {
		margin-top: 0;
	}
}

header, main, footer {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px 0;
}

#search, footer {
	text-align: center;
}
footer {
	margin-top: 100px;

	.follow {
		margin-top:20px;
		iframe {
			display: inline-block;
			margin: 10px;
		}
	}
}

p.tagline {
	text-align:center;
	margin: 30px 0;
}


#home #search {
	text-align: center;
}

#search input {
	padding: 5px 10px;
	height: 20px;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	border-radius: 20px;
}

#search input[type=text] {
	border: 1px solid #ccc;
	width: 300px;
	color: #777;
}
#search input[type=submit] {
	border: none;
	background: #eee;
	height: 32px;
	border: none;
}

.twitter-follow-button {
	display: block;
	width: 158px;
	margin: 20px auto;
}

table.playlist {
	width: 100%;
	font-weight: 300;
	border-collapse: separate;
	border-spacing: 2px;

	th, td {
		padding: 5px 10px;
	}

	td {
		background: #efe;
		&.single {
			font-style: italic;
		}
	}

	tr.unchecked td {
		background: #eee;
		color: #999;
	}

	th {
		text-align: left;
		background: #ded;
	}

}


.prof-pic {
	vertical-align: middle;
	display: inline-block;
	width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-color: #ddd;
    margin: 0 10px 0 0;
}

.right {

	float:right;

	.current-user {
		float:right;
		span {
			vertical-align: middle;
		}

		.username {
			line-height: 40px;
		}

		.prof-pic {
			margin: 0 20px 0 10px;
		}

	}

	#search {
		margin-top: 10px;
		clear:right;
		float:right;
	}

}

ul.artists {
	li {
		line-height: 40px;
		vertical-align: middle;
		margin: 5px 0;
	}
}


p.tip {
	color: #777;
	margin-bottom: 20px;
}

#popular {
	margin: 80px;
	text-align:center;
	ul.playlists {
		li {
			display: inline-block;
			margin: 10px;
			padding: 10px 15px;
			background: #eee;
		}
	}
}

.clearfix {

}

.view.track {
	@extend .cf;
	.details {
		float:left;
		padding: 20px 30px;

		h2 {
			margin-bottom: 20px;
		}
		h3 {
			margin-bottom: 10px;
		}
	}
	.artwork {
		float:left;
	}
}




/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

